/* GRID TITULO

display: grid;

Se movem no eixo horizontal 
  justify-content: flex-end;
  justify-content: flex-start;
  grid-template-rows
  grid-template-columns

*/


* {
  padding: 0px;
  margin: 0px;
}

p {
  background-color: blue;
  border: 7px solid red;
  color: white;
  padding: 8px;
}

.box p, button {
  font-size: 35px;
}

.boxes {
  height: calc(100vh);
  position: relative;
  gap: 10px 10px;
  display: grid;
  justify-content: flex-start;

  

  /* grid-template-columns: 3fr 1fr 1fr 1fr; */

  /* Shorthand 
  3fr = 3 unidades flexiveis ocupadas */
  /* repeat(numero de vezes e o que ) */
  
  grid-template-columns: 3fr repeat(3,1fr);

  /* grid-template-rows: 2fr; */


}