
.inovador{
    color: red;
}

.vermelho{
    color: red;
}

header{

    color:blue;
}

h3 a {
    color: green;
}

.verde{
    color: green;
}

.amarelo { 
    color: yellow;
}

.laranja { 
    color: orange;
}

.roxo { 
    color: purple;
}

.branco { 
    color: white;
    background-color: black;
}
