body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  }

  .input-container { 
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .input-container label { 
    margin-bottom: 8px;
  }

  .input-container input { 
    all:unset;
    padding: 12px 15px;
    border: 1px solid black;
    border-radius: 8px;
  }

  button {
    all:unset; 
    width: 300px;
    background-color: gray ;
    color: white;
    text-align: center;
    padding: 12px 0px;
    border-radius: 8px;

  }